h1{
    font-size: 30px;
    text-align: center;
    color: #b9b9b9
    }

    p{
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    }

    body {
    background-color: #e0e0e0;
    }
